.EmojiPicker {
    em-emoji-picker {
        --rgb-background: var(--center-channel-bg-rgb);
        --rgb-color: var(--center-channel-color-rgb);
        --rgb-accent: var(--button-bg-rgb);
        --color-border: rgba(var(--center-channel-color-rgb), 0.16);
        --color-border-over: rgba(var(--center-channel-color-rgb), 0.24);
    }
}
