@import '@toeverything/theme/style.css';

:root {
    --affine-font-h-1: 28px;
    --affine-font-h-2: 24px;
    --affine-font-h-3: 20px;
    --affine-font-h-4: 18px;
    --affine-font-h-5: 16px;
    --affine-font-h-6: 14px;
    --affine-font-base: 15px;
    --affine-line-height: 1.6;
    --affine-quote-color: rgba(0, 0, 0, 0.2);
    --affine-black-30: rgba(0, 0, 0, 0.3);
    --affine-paragraph-space: 8px;
    --affine-editor-side-padding: 24px;
    --affine-editor-bottom-padding: 0;
}

.affine-page-root-block-container {
    padding-left: 24px !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}
